@import url('https://fonts.cdnfonts.com/css/catamaran');
@import url('https://fonts.cdnfonts.com/css/geometria');
@import url('https://fonts.cdnfonts.com/css/raleway-5');

/* #024145 */

$body-color: hsl(208, 35%, 10%);

$layer-color: hsl(205, 46%, 8%);
$main-color: hsl(205, 60%, 37%);
$text-color: hsl(205, 23%, 90%);
$accent-color: hsl(205, 49%, 66%);

$accent-color2: lighten($accent-color, 13);

$gradient-color: linear-gradient(to top, #011318, #081c22, #0a252e, #0c2e39, #0e3845, #10404f, #13495a, #155265, #195c71, #1d677e, #22728a, #267d97);

$body-font: 'Catamaran', sans-serif;
$header-font: 'Geometria', sans-serif;
$subheader-font: 'Raleway', sans-serif;

$header-height: 100px;


$space-xs: .5rem; /* 8px */
$space-sm: 1rem; /* 15px */
$space-md: 1.125rem; /* 18px */
$space-lg: 1.5rem; /* 24px */
$space-xl: 2rem; /* 32px */

$z-navbar: 50;
$z-menu: 40;
:root {
  --details-font-size: 1rem;
  --normal-font-size: 1rem;
  --medium-font-size: 1.3rem;
  --title-font-size: 1.8rem;
}
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1.3rem;
    --medium-font-size: 1.4rem;
    --title-font-size: 2rem;
  }
}

/* base style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $body-color;
  color: $text-color;
  font-family: $body-font;
  font-size: var(--normal-font-size);
  line-height: 1.5;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,h2,h3 {
  font-size: var(--title-font-size);
  font-weight: 500;
}
mark {
  background-color: transparent;
  color: $accent-color;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: $main-color;
}
::-webkit-scrollbar-thumb {
  background-color: $accent-color2;
}
::-webkit-scrollbar-button {
  background-color: $body-color;
}
.section p {
  margin-top: $space-md;
  margin-bottom: $space-md;
}
.heading, .subheading {
  font-weight: 600;
}
.subheading {
  color: $accent-color2;
  font-family: $subheader-font;
  font-weight: 400;
  &__container{
    display: inline-block;
    max-height: 60px;
    overflow: hidden;
    .bottom-line {
      margin-top: 2px;
      width: 73%;
    }
    margin-bottom: 2rem;
  }
}
.heading {
  color: $accent-color;
  font-family: $header-font;
  text-transform: uppercase;
}
/* reused style */
.container {
  max-width: 1024px;
  margin-inline: auto;
  padding-left: $space-md;
  padding-right: $space-md;
}

.section {
  padding-top: $space-xl;
  padding-bottom: $space-xl;
}

.btn {
  border: none;
  padding: 15px 22px;
  background-color: darken($main-color, 10);

  color: $accent-color2;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  transition: .3s;
  &:hover {
    background-color: $main-color;
  }
}

.bottom-line {
  display: block;
  height: 1px;
  background-color: $accent-color;
  width: 40%;
}

/* header section */
header.header {
  height: $header-height;
  background-color: $body-color;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-navbar;
  transition: ease-in .4s;
  &.hide {
    top: calc($header-height * -1)
  }
  &.fixed__nav {
    top: 0 !important;
    background-color: darken($color: $main-color, $amount: 30);
  }
}

nav.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu {
  top: -100%;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: $z-menu;
  transition: .5s;
  display: flex;
  .menu__list {
    display: flex;
    &.menu__link {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 450px;
      gap: 2.5rem;
      padding-top: $space-xl;
      padding-bottom: $space-md;
      a {
        display: block;
        width: 100%;
        height: 40px;
        overflow: hidden;
        color: $accent-color;
        text-transform: uppercase;
        font-size: 2rem;
        letter-spacing: $space-xs;
        font-family: $header-font;
        font-weight: 900;
      }
    }
    &.menu__socials {
      gap: $space-xl;
      a {
        display: grid;
        place-items: center;
        width: 60px;
        height: 60px;
        border: 1px solid lighten($accent-color, 10);
        border-radius: 100%;
        color: lighten($accent-color, 10);
        font-size: 2.5rem;
        transition: ease-in .3s;
        &:hover {
          background-color: $accent-color;
          border-color: transparent;
          color: $body-color;
        }
      }
    }
  }
  .menu__content, .menu__animate span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    opacity: 0;
  }
  .menu__content {
    z-index: 10;
    background-color: darken($color: $main-color, $amount: 30);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu__animate span {
    &:nth-child(3) {
      background-color: lighten($body-color, 2);
    }
    
    &:nth-child(2) {
      background-color: lighten($body-color, 15);
    }
    
    &:nth-child(1) {
      background-color: lighten($body-color, 26);
    }
  }
}

//================ hero section ===========//

#hero {
  padding-top: $header-height;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $space-xl;
  height: 100%;
  .heading {
    font-size: calc(27 * 1px + (48 - 30) * ((100vw - 320px) / 1600));
    text-transform: capitalize;
    text-align: center;
  }
  .subheading {
    font-weight: 400;
    font-size: var(--details-font-size);
    opacity: 1;
  }
}
.scrolldown-btn {
  position: relative;
  background-color: transparent;
  display: grid;
  place-items: center;
  color: $accent-color;
  border: 1px solid $accent-color;
  border-radius: 50%;
  font-size: 1.4rem;
  width: 52px;
  height: 52px;
  cursor: pointer;
  &:hover{
    border-color: $accent-color2;
    color: $accent-color2;
  }
}
.scrolldown__text {
  font-size: 14px;
  position: absolute;
}

//================ about section ===========//
#about {
  padding-top: 8rem;
}

.project__card {
  &-wrapper {
    margin-top: 1.3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
  }
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .card__img-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 170px;
    background-color: #10404f1e;
    border-radius: 10px;
    overflow: hidden;
  }
  .card__title {
    font-size: var(--medium-font-size);
    text-transform: capitalize;
    color: $accent-color;
  }
  .card__content {
    padding: $space-md 0;
    p {
      margin-top: 4px;
    }
  }
  .card__action {
    display: flex;
    gap: $space-md;
  }
  .card__btn {
    padding: $space-xs $space-md;
    display: flex;
    align-items: center;
    gap: 8px;
    color: $accent-color2;
    background-color: $main-color;
    border-radius: 25px;
    transition: all .3s;
    &:hover {
      background-color: darken($main-color, 10);
    }
    &:focus {
      background-color: darken($main-color, 15);
    }
  }
  .btn--outlined {
    color: $main-color;
    background-color: transparent !important;
    border: 2px solid transparent;
    &:hover {
      color: $accent-color2;
    }
    &:focus {
      border-color: $main-color;
    }
  }
}
@media screen and (min-width: 768px)  {
  .project__card {
    width: 400px;
  }
}
@media screen and (min-width: 1024px) {
  .project__card {
    &-wrapper {
      gap: 4rem;
    }
    height: 250px;
    width: 100%;
    max-width: max-content;
    flex-wrap: nowrap;
    .card__img-wrapper  {
      height: 100%;
    }
    .card__content {
      padding: $space-xs $space-lg;
    }
  }
}

// contact section 
.contact__form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  flex-grow: 1;
  gap: $space-md;
  input, textarea {
    outline: none;
    border: none;
    padding: $space-sm $space-lg;
    background-color: lighten($body-color, 5);
    border-radius: 25px;
    border: 2px solid transparent;
    transition: .3s;
    color: darken($accent-color2, 10);
    &::placeholder {
      color: #cccccc7e;
    }
    &:focus {
      background-color: transparent;
      border-color: $accent-color2;
      &::placeholder {
        color:  darken($accent-color2, 10);
      }
    }
  }
  textarea {
    height: 200px;
  }
  button {
    color: $accent-color2;
    border: none;
    align-self: flex-start;
    padding: $space-sm $space-lg;
    cursor: pointer;
    background-color: darken($main-color, 10) ;
    display: flex;
    gap: 4px;
    border-radius: 25px;
    font-size: var(--details-font-size);
    text-transform: capitalize;
    outline: transparent solid 2px;
    outline-offset: 2px;
    transition: .2s;
    &:focus {
      outline-color: darken($main-color, 10);
    }
    &:hover {
      background-color: $main-color;
    }
  }
}
.contact__group {
  display: flex;
  flex-direction: column;
  gap: 48px;
  .divider {
    align-self: center;
    width:  80%;//3px;
    background: linear-gradient(to left, transparent, $main-color, transparent);
    height: 3px;//250px;
  }
}

@media screen and (min-width: 968px) {
  .contact__group {
    flex-direction: row;
    align-items: center;
    .divider {
      width: 3px;
      height: 350px;
      background: linear-gradient(to top, transparent, $main-color, transparent);

    }
  }
}

.contact__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $space-md;
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    color: $accent-color2;
    transition: all .3s;
    i {
      border: 2px solid $accent-color2;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:hover {
      color: $main-color; 
      i {
        border-color: $main-color;
      }
    }
  }
}

@media screen and (min-width: 968px) {
  .contact__links {
    flex-direction: column;
    align-items: flex-start;
    a {
      flex-direction: row;
    }
  }
}